projects/*
!projects/example_project/config.yaml
!projects/example_project/data/*
!projects/example_project/example_classifier/*
!projects/installation_test/config.yaml
!projects/installation_test/data/*
!projects/installation_test/example_classifier
.snakemake
*/__pycache__/
*.pyc
logs/
